<h1 id="menu-categories-title" class="text-center">Sign Up</h1>
<div class="container" class="text-center">
    <fieldset class="text-center">
        <form name='regForm' novalidate>

            <input type="text" name="username" placeholder="Pick a username"
                   ng-model="reg.user.username"
                   required
                   minlength="4"
                   ng-maxlength="10">
            <span
                    ng-if="(regForm.username.$error.minlength ||
            regForm.username.$error.required) && regForm.username.$touched">
            Username must be at least 4 characters long
          </span>
            <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
            Username must not be longer than 10 characters
          </span>
            <br>

            <input type="email" name="email" placeholder="Email"
                   ng-model="reg.user.email"
                   required>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
            <br>

            <input type="text" name="phone" placeholder="Phone ###-###-####"
                   ng-model="reg.user.phone">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
            <br>

            <input type="text" name="dish" placeholder="favorite dish short name"
                   ng-model="reg.user.dish"
                   required>
            <br>
            <button
                    ng-disabled="regForm.$invalid"
                    ng-click="reg.submit()">Submit</button>
        </form>
        <h2 ng-if="reg.completed">Your information has been saved</h2>
    </fieldset></div>
